 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



 body {
    background-image: url(./image/background\ image.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

#kimImage {
    margin-top: 400px;
    margin-left: 200px;
}

#terryImage{
    float: right;
    margin-top: 400px;
    margin-right: 200px;
} 